# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1

# custom requirements
catboost==0.22
category-encoders==2.1.0
dask==2.9.2
hydra-core==0.11.3
ipywidgets==7.5.1
joblib==0.14.1
jupyterlab==2.0.1
kaggle==1.5.6
luigi==2.8.12
matplotlib==3.2.1
mlflow==1.7.2
numba==0.48.0
numpy==1.18.2
pandas==1.0.3
scikit-learn==0.21.3
seaborn==0.10.0
tqdm==4.42.0
